<div class="wrapper">
  <mat-form-field appearance="outline">
    <mat-label>{{ label() | translate }}</mat-label>
    <mat-select
      [(ngModel)]="model"
      [placeholder]="placeholder() | translate"
      [required]="required()"
      #selectModel="ngModel"
      (ngModelChange)="onModelChange($event)"
    >
      @for (item of itemList(); track item.value) {
      <mat-option [value]="item.value">
        {{ item.label | translate }}
      </mat-option>
      }
    </mat-select>

    @if (selectModel.hasError('required') && selectModel.touched) {
    <mat-error>{{ errorMessage() | translate }}</mat-error>
    }
  </mat-form-field>
</div>
