$main-color: #0022b7;
$britannia-blue: #1c4794;
$britannia-dark: #2d3845;
$britannia-background: #d6dcf5;
$britannia-red: #d4162f;
$britannia-light-blue: #eef0fa;
$white: #ffffff;
$black-87: rgba(0, 0, 0, 0.87);
$black-08: rgba(0, 0, 0, 0.08);
$black-06: rgba(0, 0, 0, 0.06);
