@use "@angular/material" as mat;
@use "../../../../assets/styles/utils/index" as ds;

.button {
  @include mat.button-overrides(
    (
      protected-container-color: ds.$britannia-dark,
      protected-label-text-color: ds.$white,
    )
  );

  font: 600 14px/1 ds.$font;
  letter-spacing: 0.1px;
}

@include ds.breakpoint-max-tablet() {
  .button {
    height: 30px;
  }
}
