<div class="row mt-5">
  <div class="col-12 mb-4">
    <h2 class="subtitle">{{ "Podpis" | translate }}</h2>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <form [formGroup]="signatureForm" (ngSubmit)="generatePDF(signatureForm)">
      <mat-form-field class="w-100 px-2">
        <mat-label>{{ "Podpis" | translate }}</mat-label>
        <textarea matInput formControlName="signature"></textarea>
      </mat-form-field>
      <div class="row">
        <div class="col-12 d-flex justify-content-end">
          <button mat-raised-button color="primary" type="submit">
            Generuj PDF
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
