@use '../../../assets/styles/utils/breakpoints' as ds;
.wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  app-input-text,
  app-select,
  app-date {
    width: 30%;
  }
}

@include ds.breakpoint-max-tablet {
  .wrapper {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;

    app-input-text,
    app-select,
    app-date {
      width: 100%;
    }
  }
}
