@use "../../assets/styles/utils/index" as *;
@use "../../assets/styles/mixins" as *;

.generate-btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
}

.row-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;

  div {
    width: 100%;
  }

  p {
    width: calc(100% / 6);
    border: 1px solid black;
    margin: 0;
  }

  .row-group {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

    div {
      width: calc(100% / 6);
      border: 1px solid black;
      margin: 0;

      input {
        width: 100%;
      }
    }
  }
}

.table-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;

  .table-row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    border: 1px solid black;
    margin: 0;

    .title {
      width: 60%;
      border-right: 1px solid black;
      padding: 5px 0;

      p {
        margin: 0;
      }
    }

    .select-wrapper {
      width: 30%;
      border-right: 1px solid black;
      padding: 5px 0;

      input {
        width: 100%;
      }
    }

    .checkbox-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px 0;
      width: 10%;
    }
  }
}

.signature-textarea {
  height: 250px !important;
}
