@use "../utils/typography" as typography;
@use "../utils/colors" as color;

::ng-deep .mat-mdc-tab-header {
  --mat-tab-label-text-font: typography.$font;
  --mat-tab-label-text-size: 14px;
  --mat-tab-label-text-tracking: 0.0892857143em;
  --mat-tab-label-text-line-height: 36px;
  --mat-tab-label-text-weight: 500;
}

::ng-deep .mat-mdc-tab-group,
.mat-mdc-tab-nav-bar {
  --mat-tab-disabled-ripple-color: rgba(0, 0, 0, 0.38);
  --mat-tab-pagination-icon-color: black;
  --mat-tab-inactive-label-text-color: rgba(0, 0, 0, 0.6);
  --mat-tab-active-label-text-color: color.$main-color;
  --mat-tab-active-ripple-color: color.$main-color;
  --mat-tab-inactive-ripple-color: color.$main-color;
  --mat-tab-inactive-focus-label-text-color: rgba(0, 0, 0, 0.6);
  --mat-tab-inactive-hover-label-text-color: rgba(0, 0, 0, 0.6);
  --mat-tab-active-focus-label-text-color: color.$main-color;
  --mat-tab-active-hover-label-text-color: color.$main-color;
  --mat-tab-active-focus-indicator-color: color.$main-color;
  --mat-tab-active-hover-indicator-color: color.$main-color;
}
