<div class="container pb-5">
  <header class="row header">
    <img
      class="col-3 img"
      src="../../assets/images/britannia_logo.svg"
      alt="britannia-logo"
    />
    <h1 class="col-9 title">Britannia Reports - generator raportów</h1>
  </header>

  <form [formGroup]="form" (ngSubmit)="generatePDF(form)" class="col-12">
    <div class="row mt-5">
      <div class="col-12 mb-4">
        <h2 class="subtitle">Podstawowe informacje</h2>
      </div>
    </div>

    <div class="row">
      <mat-form-field class="col-6 my-1">
        <mat-label>Imię i nazwisko ucznia</mat-label>
        <input matInput type="text" formControlName="studentName" />
        <mat-error
          *ngIf="this.form.controls['studentName'].hasError('required')"
          >Pole jest wymagane
        </mat-error>
      </mat-form-field>

      <mat-form-field class="col-6 my-1">
        <mat-label>Imię ucznia do wyświetlenia w tekście (np. Jaś)</mat-label>
        <input matInput type="text" formControlName="name" />
        <mat-error *ngIf="this.form.controls['name'].hasError('required')"
          >Pole jest wymagane
        </mat-error>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field class="col-6 my-1">
        <mat-label>Uczeń/Uczennica</mat-label>
        <mat-select name="teacher" formControlName="sex">
          <mat-option *ngFor="let sex of sexes" [value]="sex">
            {{ sex }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="this.form.controls['sex'].hasError('required')"
          >Pole jest wymagane
        </mat-error>
      </mat-form-field>

      <mat-form-field class="col-6 my-1">
        <mat-label>Wybierz datę</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date" />
        <mat-error *ngIf="this.form.controls['date'].hasError('required')"
          >Pole jest wymagane
        </mat-error>
        <mat-hint>DD.M.RRRR</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="row form-field">
      <mat-form-field class="col-6 my-1">
        <mat-label>Klasa</mat-label>
        <mat-select name="class" formControlName="class">
          <mat-option *ngFor="let class of classes" [value]="class">
            {{ class }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="this.form.controls['class'].hasError('required')"
          >Pole jest wymagane
        </mat-error>
      </mat-form-field>

      <mat-form-field class="col-6 my-1">
        <mat-label>Lektor</mat-label>
        <mat-select name="teacher" formControlName="teacher">
          <mat-option *ngFor="let teacher of teachers" [value]="teacher">
            {{ teacher }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="this.form.controls['teacher'].hasError('required')"
          >Pole jest wymagane
        </mat-error>
      </mat-form-field>
    </div>

    <div class="row form-field">
      <mat-form-field class="col-6 my-1">
        <mat-label>Tytuł podręcznika</mat-label>
        <mat-select name="class" formControlName="studentBookTitle">
          <mat-option *ngFor="let book of books" [value]="book">
            {{ book }}
          </mat-option>
        </mat-select>
        <mat-error
          *ngIf="this.form.controls['studentBookTitle'].hasError('required')"
          >Pole jest wymagane
        </mat-error>
      </mat-form-field>

      <mat-form-field class="col-6 my-1">
        <mat-label>Kurs</mat-label>
        <mat-select name="course" formControlName="course">
          <mat-option *ngFor="let course of courses" [value]="course">
            {{ course }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="this.form.controls['course'].hasError('required')"
          >Pole jest wymagane
        </mat-error>
      </mat-form-field>
    </div>

    <div class="row form-field">
      <mat-form-field class="col-12 my-1">
        <mat-label>Zrealizowany materiał</mat-label>
        <textarea
          matInput
          type="text"
          formControlName="realizedMaterial"
        ></textarea>
        <mat-error
          *ngIf="this.form.controls['realizedMaterial'].hasError('required')"
          >Pole jest wymagane
        </mat-error>
      </mat-form-field>
    </div>

    <div class="row mt-5">
      <div class="col-12 mb-4">
        <h2 class="subtitle">Oceny</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-2">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <ng-container matColumnDef="percent">
            <th mat-header-cell *matHeaderCellDef>Procent</th>
            <td mat-cell *matCellDef="let element">{{ element.percent }}</td>
          </ng-container>

          <ng-container matColumnDef="mark">
            <th mat-header-cell *matHeaderCellDef>Ocena</th>
            <td mat-cell *matCellDef="let element">{{ element.mark }}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>

      <div class="col-10">
        <mat-form-field class="w-100 px-2">
          <mat-label>Uzyskane oceny</mat-label>
          <textarea matInput formControlName="marks"></textarea>
          <mat-error *ngIf="this.form.controls['marks'].hasError('required')"
            >Pole jest wymagane
          </mat-error>
        </mat-form-field>

        <mat-form-field class="w-100 px-2">
          <mat-label>Bieżące postępy (średnia ocen)</mat-label>
          <input matInput formControlName="avgMark" />
          <mat-error *ngIf="this.form.controls['avgMark'].hasError('required')"
            >Pole jest wymagane
          </mat-error>
        </mat-form-field>

        <mat-form-field class="w-100 px-2">
          <mat-label>Frekwencja w %</mat-label>
          <input matInput type="number" formControlName="frequency" />
          <mat-error
            *ngIf="this.form.controls['frequency'].hasError('required')"
            >Pole jest wymagane
          </mat-error>
        </mat-form-field>

        <!--        <mat-form-field class="w-50 px-2">-->
        <!--          <mat-label>Zaangażowanie i udział w lekcjach</mat-label>-->
        <!--          <mat-select formControlName="involvementInLessons">-->
        <!--            <mat-option *ngFor="let mark of marks" [value]="mark.value">-->
        <!--              {{ mark.viewValue }}-->
        <!--            </mat-option>-->
        <!--          </mat-select>-->
        <!--          <mat-error-->
        <!--            *ngIf="-->
        <!--              this.form.controls['involvementInLessons'].hasError('required')-->
        <!--            "-->
        <!--            >Pole jest wymagane-->
        <!--          </mat-error>-->
        <!--        </mat-form-field>-->

        <!--        <mat-form-field class="w-50 px-2">-->
        <!--          <mat-label>Prowadzenie zeszytu, notatek</mat-label>-->
        <!--          <mat-select formControlName="lead">-->
        <!--            <mat-option *ngFor="let mark of marks" [value]="mark.value">-->
        <!--              {{ mark.viewValue }}-->
        <!--            </mat-option>-->
        <!--          </mat-select>-->
        <!--          <mat-error *ngIf="this.form.controls['lead'].hasError('required')"-->
        <!--            >Pole jest wymagane-->
        <!--          </mat-error>-->
        <!--        </mat-form-field>-->

        <!--        <mat-form-field class="w-50 px-2">-->
        <!--          <mat-label-->
        <!--            >Szacunek do nauczyciela i innych kursantów z grupy-->
        <!--          </mat-label>-->
        <!--          <mat-select formControlName="respect">-->
        <!--            <mat-option *ngFor="let mark of marks" [value]="mark.value">-->
        <!--              {{ mark.viewValue }}-->
        <!--            </mat-option>-->
        <!--          </mat-select>-->
        <!--          <mat-error *ngIf="this.form.controls['respect'].hasError('required')"-->
        <!--            >Pole jest wymagane-->
        <!--          </mat-error>-->
        <!--        </mat-form-field>-->

        <!--        <mat-form-field class="w-50 px-2">-->
        <!--          <mat-label>Skupienie uwagi na lekcjach</mat-label>-->
        <!--          <mat-select formControlName="focus">-->
        <!--            <mat-option *ngFor="let mark of marks" [value]="mark.value">-->
        <!--              {{ mark.viewValue }}-->
        <!--            </mat-option>-->
        <!--          </mat-select>-->
        <!--          <mat-error *ngIf="this.form.controls['focus'].hasError('required')"-->
        <!--            >Pole jest wymagane-->
        <!--          </mat-error>-->
        <!--        </mat-form-field>-->

        <p class="w-100">Ocena opisowa</p>

        <mat-form-field class="w-50 px-2">
          <mat-label>Wymowa</mat-label>
          <mat-select formControlName="pronunciation">
            <mat-option
              *ngFor="let mark of pronunciationMarks"
              [value]="mark.value"
            >
              {{ mark.viewValue }}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="this.form.controls['pronunciation'].hasError('required')"
            >Pole jest wymagane
          </mat-error>
        </mat-form-field>

        <mat-form-field class="w-50 px-2">
          <mat-label>Słownictwo</mat-label>
          <mat-select formControlName="vocabulary">
            <mat-option
              *ngFor="let mark of vocabularyMarks"
              [value]="mark.value"
            >
              {{ mark.viewValue }}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="this.form.controls['vocabulary'].hasError('required')"
            >Pole jest wymagane
          </mat-error>
        </mat-form-field>

        <mat-form-field class="w-50 px-2">
          <mat-label>Przygotowanie do zajęć</mat-label>
          <mat-select formControlName="prepareToLecture">
            <mat-option
              *ngFor="let mark of prepareToLectureMarks"
              [value]="mark.value"
            >
              {{ mark.viewValue }}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="this.form.controls['prepareToLecture'].hasError('required')"
            >Pole jest wymagane
          </mat-error>
        </mat-form-field>

        <mat-form-field class="w-50 px-2">
          <mat-label>Prace domowe</mat-label>
          <mat-select formControlName="homeworks">
            <mat-option
              *ngFor="let mark of homeworksMarks"
              [value]="mark.value"
            >
              {{ mark.viewValue }}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="this.form.controls['homeworks'].hasError('required')"
            >Pole jest wymagane
          </mat-error>
        </mat-form-field>

        <mat-form-field class="w-50 px-2">
          <mat-label>Zaangażowanie</mat-label>
          <mat-select formControlName="involvement">
            <mat-option
              *ngFor="let mark of involvementMarks"
              [value]="mark.value"
            >
              {{ mark.viewValue }}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="this.form.controls['involvement'].hasError('required')"
            >Pole jest wymagane
          </mat-error>
        </mat-form-field>

        <mat-form-field class="w-50 px-2">
          <mat-label>Zachowanie</mat-label>
          <mat-select formControlName="behaviour">
            <mat-option
              *ngFor="let mark of behaviourMarks"
              [value]="mark.value"
            >
              {{ mark.viewValue }}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="this.form.controls['behaviour'].hasError('required')"
            >Pole jest wymagane
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-12">
        <small
          >* Ocena celująca przyznawana jest za osiągnięcia specjalne, w
          szczególności za wyróżniające się odpowiedzi ustne lub pisemne.</small
        >
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-12 mb-4">
        <h2 class="subtitle">Poziom biegłości</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <mat-accordion class="example-headers-align" multi>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> Opis</mat-panel-title>
            </mat-expansion-panel-header>
            <p>
              Zależy nam na tym, by jak najwcześniej diagnozować poziom
              umiejętności dzieci, by jak najszybciej łączyć je w grupy według
              poziomu ich umiejętności, by mogły rozwijać się językowo w swoim
              tempie i jak najpełniej korzystać z lekcji. Jak co roku została
              przeprowadzona diagnoza poziomu języka naszych uczniów według
              Europejskiego Systemu Kształcenia Językowego z wykorzystaniem
              próbnych egzaminów Cambridge.
            </p>
            <p>
              Testy Cambridge dla dzieci to testy przekrojowe, diagnostyczne -
              nie można ich nie zdać, mają wskazać poziom biegłości językowej.
              Ważne są procenty. Uznajemy, że uczeń wskoczył na dany poziom
              biegłości, jeśli uzyskał minimum 60%. Jednak, by stwierdzić, że
              uczeń faktycznie osiągnął dany poziom językowy i może przystąpić
              do oficjalnego egzaminu Cambridge, powinien osiągnąć on ok. 80% z
              testów próbnych. Na testach próbnych diagnozujemy umiejętności
              Słuchania oraz Czytania i Pisania. Na egzaminie jest też Mówienie,
              co ćwiczymy i sprawdzamy na bieżąco.
            </p>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-12">
        <p>WYNIKI PRÓBNYCH EGZAMINÓW CAMBRIDGE</p>
      </div>
      <div class="col-12">
        <mat-form-field class="w-100">
          <mat-label>Rodzaj egzaminu</mat-label>
          <mat-select formControlName="typeOfExam">
            <mat-option
              *ngFor="let exam of examsSelect"
              [value]="exam"
              (click)="onSelectTypeOfExam(exam)"
            >
              {{ exam }}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="this.form.controls['typeOfExam'].hasError('required')"
            >Pole jest wymagane
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <ng-container
      *ngIf="
        selectedTypeOfExam === 'Cambridge STARTERS' ||
        selectedTypeOfExam === 'Cambridge MOVERS' ||
        selectedTypeOfExam === 'Cambridge FLYERS'
      "
    >
      <div class="row">
        <p style="font-weight: 600" class="col-12 mt-3">Słuchanie</p>

        <div formArrayName="listeningA1Array" class="col-12">
          <ng-container *ngFor="let exam of examsCount; let i = index">
            <div [formGroupName]="i">
              <mat-form-field>
                <mat-label>Data</mat-label>
                <input
                  matInput
                  [matDatepicker]="picker"
                  formControlName="date"
                />
                <mat-hint>DD.M.RRRR</mat-hint>
                <mat-datepicker-toggle
                  matIconSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>

              <mat-form-field class="mx-4">
                <mat-label>Test {{ i + 1 }}</mat-label>
                <input matInput type="number" formControlName="score" />
              </mat-form-field>

              <mat-form-field>
                <mat-label>Zdajemy?</mat-label>
                <mat-select formControlName="result">
                  <mat-option
                    *ngFor="let result of resultOfExam"
                    [value]="result"
                  >
                    {{ result }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </ng-container>
        </div>
      </div>

      <div class="row">
        <p style="font-weight: 600" class="col-12 mt-3">Czytanie i Pisanie</p>

        <div formArrayName="writingAndReadingA1Array" class="col-12">
          <ng-container *ngFor="let exam of examsCount; let i = index">
            <div [formGroupName]="i">
              <mat-form-field>
                <mat-label>Data</mat-label>
                <input
                  matInput
                  [matDatepicker]="picker"
                  formControlName="date"
                />
                <mat-hint>DD.M.RRRR</mat-hint>
                <mat-datepicker-toggle
                  matIconSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>

              <mat-form-field class="mx-4">
                <mat-label>Test {{ i + 1 }}</mat-label>
                <input matInput type="number" formControlName="score" />
              </mat-form-field>

              <mat-form-field>
                <mat-label>Zdajemy?</mat-label>
                <mat-select formControlName="result">
                  <mat-option
                    *ngFor="let result of resultOfExam"
                    [value]="result"
                  >
                    {{ result }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </ng-container>
        </div>
      </div>

      <div class="row">
        <p style="font-weight: 600" class="col-12 mt-3">Mówienie</p>

        <div formArrayName="speakingA1Array" class="col-12">
          <ng-container *ngFor="let exam of examsCount; let i = index">
            <div [formGroupName]="i">
              <mat-form-field>
                <mat-label>Data</mat-label>
                <input
                  matInput
                  [matDatepicker]="picker"
                  formControlName="date"
                />
                <mat-hint>DD.M.RRRR</mat-hint>
                <mat-datepicker-toggle
                  matIconSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>

              <mat-form-field class="mx-4">
                <mat-label>Test {{ i + 1 }}</mat-label>
                <input matInput type="number" formControlName="score" />
              </mat-form-field>

              <mat-form-field>
                <mat-label>Zdajemy?</mat-label>
                <mat-select formControlName="result">
                  <mat-option
                    *ngFor="let result of resultOfExam"
                    [value]="result"
                  >
                    {{ result }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </ng-container>
        </div>
      </div>
    </ng-container>

    <ng-container
      *ngIf="
        selectedTypeOfExam === 'Cambridge A2 Key for Schools' ||
        selectedTypeOfExam === 'Cambridge B1 Preliminary for Schools'
      "
    >
      <div class="row">
        <p style="font-weight: 600" class="col-12 mt-3">Słuchanie</p>

        <div formArrayName="listeningA2B1Array" class="col-12">
          <ng-container *ngFor="let exam of examsCount; let i = index">
            <div [formGroupName]="i">
              <mat-form-field>
                <mat-label>Data</mat-label>
                <input
                  matInput
                  [matDatepicker]="picker"
                  formControlName="date"
                />
                <mat-hint>DD.M.RRRR</mat-hint>
                <mat-datepicker-toggle
                  matIconSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>

              <mat-form-field class="mx-4">
                <mat-label>Test {{ i + 1 }}</mat-label>
                <input matInput type="number" formControlName="score" />
              </mat-form-field>

              <mat-form-field>
                <mat-label>Zdajemy?</mat-label>
                <mat-select formControlName="result">
                  <mat-option
                    *ngFor="let result of resultOfExam"
                    [value]="result"
                  >
                    {{ result }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </ng-container>
        </div>
      </div>

      <div class="row">
        <p style="font-weight: 600" class="col-12 mt-3">Czytanie</p>

        <div formArrayName="readingA2B1Array" class="col-12">
          <ng-container *ngFor="let exam of examsCount; let i = index">
            <div [formGroupName]="i">
              <mat-form-field>
                <mat-label>Data</mat-label>
                <input
                  matInput
                  [matDatepicker]="picker"
                  formControlName="date"
                />
                <mat-hint>DD.M.RRRR</mat-hint>
                <mat-datepicker-toggle
                  matIconSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>

              <mat-form-field class="mx-4">
                <mat-label>Test {{ i + 1 }}</mat-label>
                <input matInput type="number" formControlName="score" />
              </mat-form-field>

              <mat-form-field>
                <mat-label>Zdajemy?</mat-label>
                <mat-select formControlName="result">
                  <mat-option
                    *ngFor="let result of resultOfExam"
                    [value]="result"
                  >
                    {{ result }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </ng-container>
        </div>
      </div>

      <div class="row">
        <p style="font-weight: 600" class="col-12 mt-3">Pisanie</p>

        <div formArrayName="writingA2B1Array" class="col-12">
          <ng-container *ngFor="let exam of examsCount; let i = index">
            <div [formGroupName]="i">
              <mat-form-field>
                <mat-label>Data</mat-label>
                <input
                  matInput
                  [matDatepicker]="picker"
                  formControlName="date"
                />
                <mat-hint>DD.M.RRRR</mat-hint>
                <mat-datepicker-toggle
                  matIconSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>

              <mat-form-field class="mx-4">
                <mat-label>Test {{ i + 1 }}</mat-label>
                <input matInput type="number" formControlName="score" />
              </mat-form-field>

              <mat-form-field>
                <mat-label>Zdajemy?</mat-label>
                <mat-select formControlName="result">
                  <mat-option
                    *ngFor="let result of resultOfExam"
                    [value]="result"
                  >
                    {{ result }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </ng-container>
        </div>
      </div>

      <div class="row">
        <p style="font-weight: 600" class="col-12 mt-3">Mówienie</p>

        <div formArrayName="speakingA2B1Array" class="col-12">
          <ng-container *ngFor="let exam of examsCount; let i = index">
            <div [formGroupName]="i">
              <mat-form-field>
                <mat-label>Data</mat-label>
                <input
                  matInput
                  [matDatepicker]="picker"
                  formControlName="date"
                />
                <mat-hint>DD.M.RRRR</mat-hint>
                <mat-datepicker-toggle
                  matIconSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>

              <mat-form-field class="mx-4">
                <mat-label>Test {{ i + 1 }}</mat-label>
                <input matInput type="number" formControlName="score" />
              </mat-form-field>

              <mat-form-field>
                <mat-label>Zdajemy?</mat-label>
                <mat-select formControlName="result">
                  <mat-option
                    *ngFor="let result of resultOfExam"
                    [value]="result"
                  >
                    {{ result }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </ng-container>
        </div>
      </div>
    </ng-container>

    <ng-container
      *ngIf="
        selectedTypeOfExam === 'Cambridge B2 First for Schools' ||
        selectedTypeOfExam === 'Cambridge C1 Advanced'
      "
    >
      <div class="row">
        <p style="font-weight: 600" class="col-12 mt-3">Listening</p>

        <div formArrayName="listeningB2C1Array" class="col-12">
          <ng-container *ngFor="let exam of examsCount; let i = index">
            <div [formGroupName]="i">
              <mat-form-field>
                <mat-label>Data</mat-label>
                <input
                  matInput
                  [matDatepicker]="picker"
                  formControlName="date"
                />
                <mat-hint>DD.M.RRRR</mat-hint>
                <mat-datepicker-toggle
                  matIconSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>

              <mat-form-field class="mx-4">
                <mat-label>Test {{ i + 1 }}</mat-label>
                <input matInput type="number" formControlName="score" />
              </mat-form-field>

              <mat-form-field>
                <mat-label>Zdajemy?</mat-label>
                <mat-select formControlName="result">
                  <mat-option
                    *ngFor="let result of resultOfExam"
                    [value]="result"
                  >
                    {{ result }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </ng-container>
        </div>
      </div>

      <div class="row">
        <p style="font-weight: 600" class="col-12 mt-3">Reading</p>

        <div formArrayName="readingB2C1Array" class="col-12">
          <ng-container *ngFor="let exam of examsCount; let i = index">
            <div [formGroupName]="i">
              <mat-form-field>
                <mat-label>Data</mat-label>
                <input
                  matInput
                  [matDatepicker]="picker"
                  formControlName="date"
                />
                <mat-hint>DD.M.RRRR</mat-hint>
                <mat-datepicker-toggle
                  matIconSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>

              <mat-form-field class="mx-4">
                <mat-label>Test {{ i + 1 }}</mat-label>
                <input matInput type="number" formControlName="score" />
              </mat-form-field>

              <mat-form-field>
                <mat-label>Zdajemy?</mat-label>
                <mat-select formControlName="result">
                  <mat-option
                    *ngFor="let result of resultOfExam"
                    [value]="result"
                  >
                    {{ result }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </ng-container>
        </div>
      </div>

      <div class="row">
        <p style="font-weight: 600" class="col-12 mt-3">Use of English</p>

        <div formArrayName="useOfEnglishB2C1Array" class="col-12">
          <ng-container *ngFor="let exam of examsCount; let i = index">
            <div [formGroupName]="i">
              <mat-form-field>
                <mat-label>Data</mat-label>
                <input
                  matInput
                  [matDatepicker]="picker"
                  formControlName="date"
                />
                <mat-hint>DD.M.RRRR</mat-hint>
                <mat-datepicker-toggle
                  matIconSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>

              <mat-form-field class="mx-4">
                <mat-label>Test {{ i + 1 }}</mat-label>
                <input matInput type="number" formControlName="score" />
              </mat-form-field>

              <mat-form-field>
                <mat-label>Zdajemy?</mat-label>
                <mat-select formControlName="result">
                  <mat-option
                    *ngFor="let result of resultOfExam"
                    [value]="result"
                  >
                    {{ result }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </ng-container>
        </div>
      </div>

      <div class="row">
        <p style="font-weight: 600" class="col-12 mt-3">Writing</p>

        <div formArrayName="writingB2C1Array" class="col-12">
          <ng-container *ngFor="let exam of examsCount; let i = index">
            <div [formGroupName]="i">
              <mat-form-field>
                <mat-label>Data</mat-label>
                <input
                  matInput
                  [matDatepicker]="picker"
                  formControlName="date"
                />
                <mat-hint>DD.M.RRRR</mat-hint>
                <mat-datepicker-toggle
                  matIconSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>

              <mat-form-field class="mx-4">
                <mat-label>Test {{ i + 1 }}</mat-label>
                <input matInput type="number" formControlName="score" />
              </mat-form-field>

              <mat-form-field>
                <mat-label>Zdajemy?</mat-label>
                <mat-select formControlName="result">
                  <mat-option
                    *ngFor="let result of resultOfExam"
                    [value]="result"
                  >
                    {{ result }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </ng-container>
        </div>
      </div>

      <div class="row">
        <p style="font-weight: 600" class="col-12 mt-3">Speaking</p>

        <div formArrayName="speakingB2C1Array" class="col-12">
          <ng-container *ngFor="let exam of examsCount; let i = index">
            <div [formGroupName]="i">
              <mat-form-field>
                <mat-label>Data</mat-label>
                <input
                  matInput
                  [matDatepicker]="picker"
                  formControlName="date"
                />
                <mat-hint>DD.M.RRRR</mat-hint>
                <mat-datepicker-toggle
                  matIconSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>

              <mat-form-field class="mx-4">
                <mat-label>Test {{ i + 1 }}</mat-label>
                <input matInput type="number" formControlName="score" />
              </mat-form-field>

              <mat-form-field>
                <mat-label>Zdajemy?</mat-label>
                <mat-select formControlName="result">
                  <mat-option
                    *ngFor="let result of resultOfExam"
                    [value]="result"
                  >
                    {{ result }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </ng-container>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="selectedTypeOfExam === ''">
      Wybierz rodzaj egzaminu
    </ng-container>

    <div class="row mt-3">
      <div class="col-12">
        <div formArrayName="comments" class="row">
          <div class="col-12 mb-3">
            <button
              type="button"
              mat-raised-button
              color="primary"
              aria-label="Add"
              (click)="addNextComment()"
            >
              Dodaj komentarz
            </button>
          </div>
          <ng-container
            *ngFor="let comment of comments.controls; let i = index"
          >
            <mat-form-field class="col-8">
              <mat-label>Komentarz {{ i + 1 }}</mat-label>
              <input matInput type="text" [formControlName]="i" />
            </mat-form-field>
            <div class="col-4">
              <button
                style="height: 54px"
                type="button"
                mat-raised-button
                color="warn"
                (click)="onRemoveComment(i)"
              >
                Usuń
              </button>
            </div>
          </ng-container>
        </div>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-12 mb-4">
        <h2 class="subtitle">Informacje egzaminacyjne</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <mat-checkbox
          (change)="onCheckboxChange()"
          formControlName="examRecommendationAcceptCheckbox"
          >W tym roku szkolnym rekomenduję podejście do egzaminu
        </mat-checkbox>
      </div>
      <div class="col-12" *ngIf="isChecked">
        <mat-form-field class="w-50">
          <mat-label>Egzamin</mat-label>
          <mat-select formControlName="examRecommendationResult">
            <mat-option
              *ngFor="let result of examsRecommendations"
              [value]="result"
            >
              {{ result }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-12">
        <mat-checkbox formControlName="examRecommendationNonCheckbox"
          >W tym roku nie rekomenduję podchodzenia do egzaminu Cambridge.
        </mat-checkbox>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <mat-form-field class="w-100 px-2">
          <mat-label>Dodatkowe rekomendacje egzaminacyjne</mat-label>
          <textarea matInput formControlName="examRecommendation"></textarea>
        </mat-form-field>

        <div class="row">
          <div class="col-12">
            <mat-accordion class="example-headers-align" multi>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Dodatkowe informacje egzaminacyjne
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <ul>
                  <li>
                    <p>
                      BRITANNIA jest autoryzowanym Cambridge Preparation Centre,
                      więc nasi uczniowie co roku zdają egzaminy na miejscu w
                      szkole. Uczniowie mogą zdawać u nas egzaminy na wszystkich
                      poziomach zaawansowania.
                    </p>
                  </li>
                  <li>
                    <p>Egzaminy organizowane są w czerwcu.</p>
                  </li>
                  <li>
                    <p>
                      Samo doświadczenie przystąpienia do prawdziwego egzaminu i
                      jego atmosfery jest ogromnie cenne. Przygotowuje dzieci
                      mentalnie do zdawania kolejnych ważnych egzaminów,
                      uodparnia je na stres i podnosi samoocenę. Daje dzieciom
                      dużo motywacji do nauki, a po otrzymaniu certyfikatu z
                      Anglii na naszej doniosłej uroczystości także wielką dozę
                      satysfakcji i chęci do dalszego podnoszenia swoich
                      umiejętności. Dzieci czują się naprawdę wyróżnione.
                    </p>
                  </li>
                  <li>
                    <p>
                      Przede wszystkim jest to także najbardziej wiarygodne
                      potwierdzenie uzyskanych umiejętności językowych. Wyniki i
                      certyfikaty przysyłane są z Anglii. Podejście do egzaminu
                      ma być dla dziecka nagrodą i motywacją. Uczestnictwo nie
                      jest obowiązkowe.
                    </p>
                  </li>
                  <li>
                    <p>
                      Płatność jest dla ośrodka egzaminacyjnego, nie dla nas. My
                      jesteśmy przewodnikami w drodze do sukcesu Państwa
                      dziecka.
                    </p>
                  </li>
                </ul>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col-12">
            <mat-accordion class="example-headers-align" multi>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>Organizacja kolejnego roku</mat-panel-title>
                </mat-expansion-panel-header>
                <p>
                  Całoroczna praca ucznia, jego zaangażowanie i stopień
                  opanowania materiału, wyniki testów bieżących oraz próbnych
                  egzaminów diagnozujących są dla nas ważne i stanowią podstawę
                  do kwalifikacji do grup o zbliżonych kompetencjach językowych
                  w kolejnym roku szkolnym. Bierzemy też pod uwagę indywidualne
                  zdolności oraz stopień motywacji ucznia w trakcie całego roku
                  szkolnego.
                </p>
                <p>
                  Staramy się maksymalnie wspierać potencjał językowy uczniów i
                  łączyć dzieci według umiejętności. Gdy tylko jest to możliwe,
                  tworzymy trzy rodzaje kursów:
                </p>
                <ol>
                  <li>
                    <p>
                      BFT czyli BRITANNIA Fast Track – dla uczniów celujących i
                      wzorowych, którzy mają wyniki od 90% wzwyż, wyróżniają się
                      swobodą w komunikacji i aktywnie wykorzystują poznane
                      treści, są otwarci i maksymalnie zaangażowani w naukę,
                      regularnie i w szybszym tempie podchodzą do kolejnych
                      egzaminów Cambridge. Często w tej grupie znajdują się
                      dzieci, które w kolejnych latach startują w konkursach
                      językowych lub wybierają dwujęzyczne profile w liceum.
                      Grupy BFT zazwyczaj nie są grupami dowożonymi, są złożone
                      z dzieci z różnych klas i szkół.
                    </p>
                  </li>
                  <li>
                    <p>
                      BRT czyli BRITANNIA Regular Track – dla uczniów, którzy
                      opanowali materiał bardzo dobrze i dobrze, są zawsze
                      przygotowani, oraz chętni i zmotywowani, by posługiwać się
                      angielskim i osiągać jak najlepsze rezultaty; zależy im,
                      by jak najlepiej poznać angielski. Uczniowie z tej grupy
                      zazwyczaj regularnie podchodzą do kolejnych egzaminów
                      Cambridge.
                    </p>
                  </li>
                  <li>
                    <p>
                      BST czyli BRITANNIA Support Track – dla uczniów
                      osiągających wyniki poniżej 65% oraz tych, którzy
                      potrzebują więcej wsparcia w opanowaniu materiału i z
                      nieśmiałością podchodzą do aktywizacji mówienia i muszą
                      bardziej otworzyć się na naukę.
                    </p>
                  </li>
                </ol>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col-12">
            <p>W przyszłym roku szkolnym rekomenduję naukę w trybie:</p>
            <mat-form-field class="w-50">
              <mat-label>Tryb</mat-label>
              <mat-select formControlName="learningRecommendations">
                <mat-option
                  *ngFor="let recommendation of learningRecommendations"
                  [value]="recommendation"
                >
                  {{ recommendation }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div formArrayName="recommendations" class="row mt-4">
          <div class="col-12 mb-3">
            <button
              type="button"
              mat-raised-button
              color="primary"
              aria-label="Add"
              (click)="addNextRecommendation()"
            >
              Dodaj własną rekomendację
            </button>
          </div>
          <ng-container
            *ngFor="
              let recommendation of recommendations.controls;
              let i = index
            "
          >
            <mat-form-field class="col-8">
              <mat-label>Rekomendacja {{ i + 1 }}</mat-label>
              <input matInput type="text" [formControlName]="i" />
            </mat-form-field>
            <div class="col-4">
              <button
                style="height: 54px"
                type="button"
                mat-raised-button
                color="warn"
                (click)="onRemoveRecommendation(i)"
              >
                Usuń
              </button>
            </div>
          </ng-container>
        </div>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-12 mb-4">
        <h2 class="subtitle">Podpis</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <mat-form-field class="w-100 px-2">
          <mat-label>Podpis</mat-label>
          <textarea matInput formControlName="signature"></textarea>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-12 d-flex justify-content-end">
        <button mat-raised-button color="primary" type="submit">
          Generuj PDF
        </button>
      </div>
    </div>
  </form>
</div>
