<div class="container">
  <header class="row header">
    <img
      class="col-3 img"
      src="../../assets/images/britannia_logo.svg"
      alt="britannia-logo"
    />
    <h1 class="col-9 title">Britannia Reports - generator raportów</h1>
  </header>

  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>Semester Report</ng-template>
      <ng-template matTabContent>
        <app-semestr-report></app-semestr-report>
      </ng-template>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>End-of-year Report</ng-template>
      <ng-template matTabContent>
        <app-year-report></app-year-report>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
