@use "../assets/styles/utils" as ds;
@use "../assets/styles/mixins" as *;

.wrapper {
  .generate-btn {
    position: fixed;
    bottom: 30px;
    right: 30px;
  }
}

@include ds.breakpoint-tablet() {
  .wrapper {
    .generate-btn {
      position: fixed;
      bottom: 30px;
      right: 30px;
    }
  }
}
