<div class="row mt-5">
  <div class="col-12 mb-4">
    <h2 class="subtitle">Informacje egzaminacyjne</h2>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <form [formGroup]="commentsForm" (ngSubmit)="generatePDF(commentsForm)">
      <mat-form-field class="w-100 px-2">
        <mat-label>Rekomendacje egzaminacyjne</mat-label>
        <textarea matInput formControlName="recommendation"></textarea>
      </mat-form-field>

      <div class="row">
        <div class="col-12">
          <mat-accordion class="example-headers-align" multi>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Dodatkowe informacje egzaminacyjne</mat-panel-title
                >
              </mat-expansion-panel-header>
              <ul>
                <li>
                  <p>
                    BRITANNIA jest autoryzowanym Cambridge Preparation Centre,
                    więc nasi uczniowie co roku zdają egzaminy na miejscu w
                    szkole. Uczniowie mogą zdawać u nas egzaminy na wszystkich
                    poziomach zaawansowania.
                  </p>
                </li>
                <li>
                  <p>
                    Egzaminy organizowane są w czerwcu. W tym roku data
                    egzaminów przypada na 16 czerwca.
                  </p>
                </li>
                <li>
                  <p>
                    Do egzaminu Movers dzieci podchodzą zazwyczaj w 5 klasie,
                    ale dzieci osiągające wysokie wyniki mogą podejść do tego
                    egzaminu już w klasie 4.
                  </p>
                </li>
                <li>
                  <p>
                    Samo doświadczenie przystąpienia do prawdziwego egzaminu i
                    jego atmosfery jest ogromnie cenne. Przygotowuje dzieci
                    mentalnie do zdawania kolejnych ważnych egzaminów, uodparnia
                    je na stres i podnosi samoocenę. Daje dzieciom dużo
                    motywacji do nauki, a po otrzymaniu certyfikatu z Anglii na
                    naszej doniosłej uroczystości także wielką dozę satysfakcji
                    i chęci do dalszego podnoszenia swoich umiejętności. Dzieci
                    czują się naprawdę wyróżnione
                  </p>
                </li>
                <li>
                  <p>
                    Przede wszystkim jest to także najbardziej wiarygodne
                    potwierdzenie uzyskanych umiejętności językowych. Wyniki i
                    certyfikaty przysyłane są z Anglii. Co ważne, testy dla
                    dzieci nie są oceniane jako: zdany/niezdany. Na certyfikacie
                    widnieje liczba tarcz z każdej części testu. Można otrzymać
                    maksymalnie 5 tarcz z każdej części, w sumie maksymalnie 15
                    tarcz za cały egzamin.
                  </p>
                </li>
                <li>
                  <p>
                    Rekomendujemy zdawanie egzaminu po otrzymaniu co najmniej
                    80% z testów próbnych. Podejście do egzaminu ma być dla
                    dziecka nagrodą i motywacją. Uczestnictwo nie jest
                    obowiązkowe.
                  </p>
                </li>
                <li>
                  <p>
                    Informacyjnie dodam, że koszt egzaminu w tym roku to 310zł -
                    płatność jest na konto ośrodka egzaminacyjnego, nie do nas.
                    My jesteśmy przewodnikami w drodze do sukcesu Państwa
                    dziecka.
                  </p>
                </li>
              </ul>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-12">
          <mat-accordion class="example-headers-align" multi>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>Organizacja kolejnego roku</mat-panel-title>
              </mat-expansion-panel-header>
              <p>
                Całoroczna praca ucznia, jego zaangażowanie i stopień opanowania
                materiału, wyniki testów bieżących oraz próbnych egzaminów
                diagnozujących są dla nas ważne i stanowią podstawę do
                kwalifikacji do grup o zbliżonych kompetencjach językowych w
                kolejnym roku szkolnym. Bierzemy też pod uwagę indywidualne
                zdolności oraz stopień motywacji ucznia w trakcie całego roku
                szkolnego.
              </p>
              <p>
                Staramy się maksymalnie wspierać potencjał językowy uczniów i
                łączyć dzieci według umiejętności. Gdy tylko jest to możliwe,
                tworzymy trzy rodzaje kursów:
              </p>
              <ol>
                <li>
                  <p>
                    BFT czyli BRITANNIA Fast Track – dla uczniów celujących i
                    wzorowych, którzy mają wyniki od 90% wzwyż, wyróżniają się
                    swobodą w komunikacji i aktywnie wykorzystują poznane
                    treści, są otwarci i maksymalnie zaangażowani w naukę,
                    regularnie i w szybszym tempie podchodzą do kolejnych
                    egzaminów Cambridge. Często w tej grupie znajdują się
                    dzieci, które w kolejnych latach startują w konkursach
                    językowych lub wybierają dwujęzyczne profile w liceum. Grupy
                    BFT zazwyczaj nie są grupami dowożonymi, są złożone z dzieci
                    z różnych klas i szkół.
                  </p>
                </li>
                <li>
                  <p>
                    BRT czyli BRITANNIA Regular Track – dla uczniów, którzy
                    opanowali materiał bardzo dobrze i dobrze, są zawsze
                    przygotowani, oraz chętni i zmotywowani, by posługiwać się
                    angielskim i osiągać jak najlepsze rezultaty; zależy im, by
                    jak najlepiej poznać angielski. Uczniowie z tej grupy
                    zazwyczaj regularnie podchodzą do kolejnych egzaminów
                    Cambridge.
                  </p>
                </li>
                <li>
                  <p>
                    BST czyli BRITANNIA Support Track – dla uczniów osiągających
                    wyniki poniżej 65% oraz tych, którzy potrzebują więcej
                    wsparcia w opanowaniu materiału i z nieśmiałością podchodzą
                    do aktywizacji mówienia i muszą bardziej otworzyć się na
                    naukę.
                  </p>
                </li>
              </ol>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>

      <div formArrayName="comments" class="row mt-4">
        <div class="col-12 mb-3">
          <button
            type="button"
            mat-raised-button
            color="primary"
            aria-label="Add"
            (click)="addNextComment()"
          >
            Dodaj rekomendację
          </button>
        </div>
        <ng-container *ngFor="let comment of comments.controls; let i = index">
          <mat-form-field class="col-8">
            <mat-label>Rekomendacja {{ i + 1 }}</mat-label>
            <input matInput type="text" [formControlName]="i" />
          </mat-form-field>
        </ng-container>
      </div>

      <div class="row">
        <div class="col-12 d-flex justify-content-end">
          <button mat-raised-button color="primary" type="submit">
            Generuj PDF
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
