@use '../../../../../assets/styles/utils/index' as ds;
@use '../../../../../assets/styles/mixins' as *;

.header {
  @include flex-center;
  justify-content: flex-start;
  margin: 0 auto ds.$distance-16;

  .img {
    width: 40px;
    height: 40px;
  }

  .title {
    font: 600 20px/26px ds.$font;
    color: ds.$britannia-blue;
    margin: 0 ds.$distance-8;
  }

  .button-wrapper {
    display: flex;
    align-items: center;
    gap: ds.$distance-8;
    margin: 0 0 0 auto;
  }

  .account-email {
    color: ds.$britannia-blue;
    font: 400 13px/1 ds.$font;
  }
}

@include ds.breakpoint-tablet() {
  .header {
    position: relative;
    justify-content: center;

    .img {
      width: 50px;
      height: 50px;
    }

    .title {
      font: 600 24px/24px ds.$font;
      margin: 0 0 0 20px;
    }

    .button-wrapper {
      position: absolute;
      right: 0;
      margin: 0;
    }
  }
}
