@forward "patterns/card";
@forward "patterns/data-table";
@forward "patterns/section-title";

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin default-button {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  color: #000;
}
